// Typography
$fa-font-path: "~font-awesome/fonts";
$font-size-base: 1rem;
$line-height-base: 1.6;


// Colors
$black-eye: #292C37;
$gray: #cccccc;
$red-state: #b11623;
$redder-state: #9f111b;

$blue: $black-eye;

$body-bg: $black-eye;

$btn-primary-color: $black-eye;
$btn-primary-bg: $red-state;
$btn-primary-border: $redder-state;

$btn-secondary-color: $black-eye;
$btn-secondary-bg: $gray;
$btn-secondary-border: $gray;
