
// Fonts
@import url('//fonts.googleapis.com/css?family=Graduate|Lato|Trade+Winds');
// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/scss/font-awesome";

body {
  font-family: Lato, sans-serif;
  color: $gray;
}

h1,h2,h3,h4,h5,h6 {
  font-family: Graduate, cursive;
}

h1.title {
  font-family: 'Trade Winds', cursive;
  color: $redder-state;
}
