
// Fonts
@import url('//fonts.googleapis.com/css?family=Graduate|Lato|Trade+Winds');
// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
@import "~font-awesome/scss/font-awesome";

body {
  font-family: Lato, sans-serif;
  font-weight: 400;
  color: $gray;
}

.container {
  padding-top: 55px;
  @include media-breakpoint-down(sm) {
    padding-left: 0;
    padding-right: 0;
  }
}

input, select, .custom-select, .custom-select:focus {
  color: $black-eye;
}

.scores .card {
  color: $black-eye;
}

.custom-select {
  word-wrap: break-word;
}

h1,h2,h3,h4,h5,h6 {
  font-family: Graduate, cursive;
  font-weight: 400;
}

h1.title, .navbar-inverse .navbar-brand, .navbar-inverse .navbar-brand.active, .navbar-inverse .navbar-brand:active {
  font-family: 'Trade Winds', cursive;
  font-weight: 400;
  color: $redder-state;
}

h1.title {
  font-size: 3rem;

  @include media-breakpoint-up(md) {
    font-size: 5rem;
  }
}

.hero-banner {
  height: 100%;
  width: 100%;
  background: url('/images/qb.jpg') no-repeat;
  background-size: cover;
  background-position: 0% center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  filter: grayscale(100%);
  opacity: 0.1;
}

.nav-wrapper {
    @include media-breakpoint-down(sm) {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 1030;
    }
}

.matchup {
  color: $black-eye;
  background-color: $red;

  .header {
    justify-content: space-evenly;
    background-color: $black;
    color: $gray;
    padding-top: 1rem;

    @include media-breakpoint-down(sm) {
      position: fixed;
      top: 55px;
      right: 0;
      left: 0;
      z-index: 1020;
    }
  }

  .scores {
    background-color: $gray;

    @include media-breakpoint-down(sm) {
      margin-top: 60px;
    }

  }
}

.franchise-header {
    text-align: center;
    width: 100%;

    h1 {
      font-size: 1.25rem;
    }

    h2 {
      font-size: 1rem;
    }
  }
.position-seperator {
  background-color: darken($gray, 10%);
  div {
    font-size: 0.8rem;
    padding: 1.25rem .5rem;

    border-top: 1px solid darken($gray, 20%);

    &:first-child, &:last-child {
      border-bottom: 1 px solid darken($gray, 20%);
    }
  }
}

.franchise-seperator {
  font-size: 20px;
  font-family: Graduate, cursive;
  padding: .5rem;
}

.franchise-scores {
  width: 100%;

  .player {
    padding: 1.25rem .5rem;

    border-top: 1px solid darken($gray, 20%);

    &:first-child, &:last-child {
      border-bottom: 1 px solid darken($gray, 20%);
    }
  }

  .info {
    font-size: 0.8rem;

    .name {
      font-weight: 700;
    }

    .team {
      font-size: 0.75rem;
    }
  }

  .score {
    font-size: 0.8rem;
  }
}
